<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="<%= 'active' if params[:controller] == 'music' %>">
                <%= link_to 'Music', :controller => :music %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'about' %>">
                <%= link_to 'About', :controller => :about %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'contact' %>">
                <%= link_to 'Contact', :controller => :contact %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'photos' %>">
                <%= link_to 'Photos', :controller => :photos %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'videos' %>">
                <%= link_to 'Videos', :controller => :videos %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'blog' %>">
                <%= link_to 'Blog', :controller => :blog %>
            </li>
        </ul>
    </div>
</div>