<!DOCTYPE html>
<html>
    <head>
        <title>The Official Website of Producer Spektrum™ | America’s Best DJ / Producer</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div id="container">
            <div id="header">
                <div id="logo"><%= link_to (image_tag 'logo.png'), :controller => :application, :action => :index %></div>
                <%= form_tag({:action=>'email_signup'}, :remote => true) do %>
                    <div id="email_signup_form">
                        <span id="email_signup_spinner"><%= image_tag 'ajax-loader.gif', :width => '28' %></span>
                        <span><%= text_field_tag 'user[email]', nil, :placeholder => "Get on my Email List" %></span>
                        <span><%= submit_tag 'Submit', :class => 'btn btn-success' %></span>
                    </div>
                <% end %>
                <div id="email_signup_response"></div>
                <%= render :partial => 'application/navbar' %>
            </div>
            <div id="content">
                <%= yield %>
            </div>
            <%= render :partial => 'application/footer_panel' %>
        </div>
    </body>
</html>
